*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Kanit', sans-serif;
}
header{
    background-image: url(./issets/fondoarticulo.jpg);
    background-color:#424874c4;
    background-blend-mode: soft-light;
    background-position: 50% 30%;
    min-height: 30vh;
    display: flex;
}
body{
    background-image: url(./issets/fondo5.jpg);
    background-color:  rgba(0,0,0,0.5);
    background-blend-mode: soft-light;
    background-size: cover;
    color: white;
}
footer{
    height: 2rem;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    color:white;
    text-shadow:6px 6px 6px #424874;
}
h1{
    font-size: 50px;
    text-shadow:2px 3px 3px#DCD6F7;
    text-align: end;
    padding: 0.5rem;
}
nav{
    padding-bottom: 2rem;
}
nav>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 4px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 6px;
    padding: 2px 5px;
}
nav>a:hover,.active{
    background-color:white;
    color: #424874;
}
main{
    min-height: 70vh;
}
.alignsep{
    text-align: right;
    padding-right: 3rem;
}
.logo{
    height: 10rem;
}
.ublogo{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 22vw;
}
.cajatitulo{
    width:78vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}
h2{
    background-color: white;
    color:#424874;
    padding: 0.2rem;
    border: 2px solid #424874;
    text-align: center;
}
.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.sectionhome{
    background-color:#424874a1;
    border-radius: 8px;
    padding:1rem;
    font-size: 20px;
    margin: 1rem
}
.posicion1{
    margin: 1rem;
}
.imagen1,.imagen2,.imagen3{
    height: 18rem;
    border-radius: 8px;
}
section>p{
    text-indent: 20px;
    margin-bottom: 1rem;
}
.cuerpo2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.articleabout{
    background-color:#424874a1;
    border-radius: 8px;
    width: 60%;
    padding: 1rem;
    margin:1rem;
    font-size: 20px;
}
article>p{
    text-indent: 20px;
}
h3{
    font-style: italic;
}
.cuerpo3{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.correo{
    background-color:#424874a1;
    border-radius: 8px;
    width: 40%;
    padding: 1rem;
    margin:2rem;
    font-size: 20px;
    margin-bottom: 10rem;
}
.mail{
    text-decoration: none;
    color:#A6B1E1 ;
    font-weight: bold;
    font-style: italic;
}
.cuerpo4{
    background-color:#424874a1;
    border-radius: 8px;
    min-height: 60vh;
    padding: 3rem;
    margin:5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cuerpo4 dd, .cuerpo4 p{
    text-indent: 20px;
}
.centrartexto{
    text-align: center;
    margin-bottom: 1rem;
}
.separar{
    padding-top: 1rem;
}
ul{
    margin-left: 2rem;
    list-style-type:circle;
}
dt{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}
.cajatabla{
    background-color:#424874a1;
    border-radius: 8px;
    min-height: 60vh;
    padding: 2rem;
    margin:auto;
    margin-top: 2rem;
    font-size: 18px;
    width: 70%;
    padding: 2rem;
}
table{
    width: 80%;
}
caption{
    text-decoration: underline;
}
td,th,caption{
    padding-top: 0.8rem;
    text-align: left;
}
.titulotabla{
    text-align: center;
    font-size: 26px;
    font-style: italic;
    width: 100%;
}
.formulario{
    display: flex;
    justify-content: center;
    width: 100%;
}
form{
    width: 70%;
    background-color:#424874a1;
    font-size: 20px; 
}
fieldset, label{
    padding: .5rem;
}
.block{
    display: block;
    width: 100%;
}
.vertical{
    display: flex;
}
.vertical2{
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    align-items: flex-end;
}
.icon{
    text-align: center;
}
.maps{
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    background-color:#424874a1;
    border-radius: 8px;
    padding: 2rem;
    gap: 2rem;
}
.information{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
td>a{
    color: white;
}
input,select{
    background-color:#424874;
    color: white;
}
.submit{
    font-size: 20px;
    padding: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;
}
.toggle-menu{
    
    display: none;
  
}
.check{
    display: none;
}
@media (max-width: 768px){
    h1{
        font-size: 40px;
        text-shadow:2px 3px 3px#DCD6F7;
        text-align: end;
        padding: 0.5rem;
    }
    .navegador {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.5rem;
}
nav>a{
    margin: 3px;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 6px;
    padding: 1px 4px;
}

.logo{
    height: 8rem;
}
.cuerpo{
    display: flex;
    flex-direction: column;
}
.cuerpo2{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.imagen1,.imagen2,.imagen3{
    height: 16rem;  
}
.articleabout{
    width: 90%;
    font-size: 18px;
}
.cuerpo4{
    width: 90%;
    padding: 2rem;
    margin:auto;
    margin-top: 1rem;
    font-size: 16px;
}
.formulario{
    width: 100%;
    margin-top: 1rem; 
}
form{
    width: 95%;
    font-size: 16px; 
}
fieldset, label{
    padding: .3rem;
}
.cajatabla{
    padding: 0.1rem;
    margin-top: 1rem;
    font-size: 1px;
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alignsep{
    text-align: center;
    padding-right: 2rem;
}
}
@media (max-width: 425px){
    .navegador {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        padding-left: 1rem;
        margin-left: 1rem;
}
.sectionhome{
    font-size: 16px;
}
.ublogo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 22vw;
}
nav>a{
    margin: 3px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    padding: 1px 4px;
}
h1{
    font-size: 35px;
    text-shadow:2px 3px 3px#DCD6F7;
    text-align: end;
    padding: 0.5rem;
}
.logo{
    height: 6rem;
}
.navegador{
    padding: 0;
}
.navegador>label{
    display: block;
}
#check~a{
    display: none;
}
#check:checked ~a{
    display: block;
}
.icono{
    max-width: 5rem;
}
.articleabout{
    width: 95%;
    font-size: 15px;
}
.imagen2{
    height: 14rem;  
}
h2{
    font-size: 1.2em;
}
.cuerpo3{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.correo{
    width: 90%;
    padding: 1rem;
    margin:1rem;
    font-size: 18px; 
}
.imagen3{
    height: 14rem;  
}
.titulotabla{
    font-size: 20px;
    width: 100%;
}

.separar{
    font-size: 14px;
}
.cuerpo4{
    width: 90%;
    padding: 1rem;
    font-size: 14px;
}
.submit{
    font-size: 14px;
    
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-weight: bold;
}
.cajatabla{
    padding: 0;
    margin:auto;
    margin-top: 1rem;
    font-size: 14px;
    width: 95%;
    padding: 0.2rem;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alignsep{
    text-align: center;
    padding-right: 0.5rem;
}
.maps{
    width: 80%;
    margin: auto;
    margin-top: 0.1rem;
    padding: 1rem;
    gap: 0.6rem;
}
}

@media (max-width: 375px){
    .imagen1,.imagen2,.imagen3{
        height: 12rem;  
    }
    .logo{
        height: 4rem;
    }
    .articleabout{
        width:100%;
        font-size: 13px;
    }
    .imagen2{
        height: 10rem;  
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 1.2em;
    }
    h5{
        font-size: 12px;
    }
    .correo{
        width: 100%;
        padding: 1rem;
        margin:1rem;
        font-size: 15px; 
    }
    .imagen3{
        height: 12rem;  
    }
    .titulotabla{
        font-size: 16px;
        width: 100%;
    }
    form{
        width: 95%;
        font-size: 14px; 
    }
    .separar{
        font-size: 12px;
    }
    .cuerpo4{
        width: 95%;
        padding: 1rem;
        font-size: 12px;
    }
    .maps{
        width: 80%;
        margin: auto;
        margin-top: 0.3rem;
        padding: 1rem;
        gap: 0.6rem;
    }
}